<h1>Animals#index</h1>


<%= link_to "New Cutie", new_animal_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Shelter</th>
  </tr>
 
<% @animals.each do |animal| %>
  <tr>
    <td><%= link_to animal.name, animal %></td>
    <td><%= animal.animal_type %></td>
    <td><%= animal.shelter.name %></td>
  </tr>
<% end %>
</table>